# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Local runtime files
uploads/

# Large local model file
sam_vit_h_4b8939.pth
sam_vit_h_4b8939.pth

# Environment/config secrets
.env
.env.*

# Editor/OS
.vscode/
.idea/
.DS_Store
